body {
  background-color: #f0f8ff;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
  border: 4px solid #53259c;
  border-radius: 10px;
  background-color: #4e75d6;
  text-align: center;
  box-shadow: 0px 4px 10px #53259c;
}

h1 {
  text-align: center;
  color: #148bf3;
  text-shadow: #53259c 2px 2px 2px;
}

select {
  display: block;
  margin: 10px auto;
  width: 100px;
  padding: 5px;
  border: 2px solid #53259c;
  border-radius: 5px;
  background-color: #a4b5df;
}

select:hover {
  cursor: pointer;
  background-color: #c1cce8;
}

h2 {
  color: #ffffff;
  font-size: 1.2em;
  text-align: center;
  text-shadow: #828485 1px 1px 1px;
}

footer {
  font-size: 0.8em;
  text-align: center;
  text-shadow: #828485 0.5px 0.5px 0.5px;
}
.coder {
  color: rgb(230, 73, 193);
}
