body {
  background-color: #f0f8ff;
}

.container {
  margin: 15px auto;
  max-width: 600px;
  padding: 20px;
  border: 4px solid #53259c;
  border-radius: 10px;
  background-color: #4e75d6;
  text-align: left-center;
  box-shadow: 0px 4px 10px #53259c;
  margin-left: 100px;
  margin-right: 80px;
}

h1 {
  text-align: center;
  color: #148bf3;
  text-shadow: #53259c 2px 2px 2px;
}

select {
  display: block;
  margin: 10px auto;
  width: 100px;
  padding: 5px;
  border: 2px solid #53259c;
  border-radius: 5px;
  background-color: #a4b5df;
}

select:hover {
  cursor: pointer;
  background-color: #c1cce8;
}

h2 {
  color: #ffffff;
  font-size: 1.2em;
  text-align: left-center;
  text-shadow: #828485 1px 1px 1px;
}

.cities {
  justify-content: space-between;
  margin-left: 100px;
}

.time {
  font-size: 35px;
  text-decoration: bold;
  display: flex;
  justify-content: right;
  margin-right: 60px;
  margin-top: -60px;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.date {
  font-size: 14px;
  text-align: left;
  margin-top: -15px;
  margin-bottom: 15px;
  color: rgb(48, 47, 47);
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

footer {
  font-size: 0.8em;
  text-align: center;
  text-shadow: #828485 0.5px 0.5px 0.5px;
}
.coder {
  color: rgb(230, 73, 193);
}
